.hideScroll {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-track {
    background: none;
  }
  ::-webkit-scrollbar-thumb {
    background: none;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: none;
  }
  ::-webkit-scrollbar-corner {
    background: none;
  }
}

.lightScroll {
  ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  }
  
  ::-webkit-scrollbar-track {
  background: #aaa7;
  border-radius: 12px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgb(59 130 246); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(37 99 235); 
  }
  ::-webkit-scrollbar-corner {
  background: none;
  
  }
}

.lightScrollGray {
  ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  }
  
  ::-webkit-scrollbar-track {
  background: #aaa7;
  border-radius: 12px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: gray
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(37 99 235); 
  }
  ::-webkit-scrollbar-corner {
  background: none;
  
  }
}

.darkScroll {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    }
    
    ::-webkit-scrollbar-track {
    background: rgba(128, 131, 138, 0.3);
    border-radius: 12px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(83, 87, 93, 0.75); 
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 110, 105, 0.8); 
    }
    ::-webkit-scrollbar-corner {
    background: none;
    
    }
}

.darkScrollAlt {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    }
    
    ::-webkit-scrollbar-track {
    background: rgba(128, 131, 138, 0.3);
    border-radius: 12px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(90, 95, 100, 0.85); 
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(110, 115, 120, 0.9); 
    }
    ::-webkit-scrollbar-corner {
    background: none;
    
    }
}